/* body */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    background-color: #F5F4FA;
    padding: 12px;
    border-radius: 4px;  
    border: none;
    /* font-weight: 600; */
    /* justify-content: center; */
    letter-spacing: 0.03em;
    /* align-content: center; */
    font-family: inherit;
}
h2 {
    color: #212121;
}
h3 {
    color: #212121;
}
p {
    color: #757575;
}
/* header */
header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: center; */
}
.headerclass ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}
.logoup {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    /* color: #000000;  */
     /* #2196F3 */
     /* display: inline;
     margin: 0px;
     padding: 0px;
     list-style-type: none; */
     letter-spacing: 0.03rem;
}
.logoup li {
    text-decoration: none;
}
.logoup1 {
    color: #2196F3;
}
.logoup2 {
    color: #000000;
}
.nolinkup1 {
    text-decoration: none;
    color: #212121;
}
.nolinkup2 {
    text-decoration: none;
    color: #757575;
}
.nolinkup1:hover {
    color: #2196F3;
}
.nolinkup2:hover {
    color: #2196F3;
}

/* FOOTER */
footer {
    background-color: #2F303A;
}
.logoup3 {
    color: #ffffff;
}
.nolink {
    text-decoration: none;
    color: #ffffff;
}
.nolinke {
    color: #FFFFFF;
}
.addres {
    color: #FFFFFF;
}

/* MAIN */
/* INDEX */
.title {
    background-color: #2F303A;
    justify-content: center;
    text-align: center;
}
.title h1 {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 1.5;
    font-size: 60px;
    color: #FFFFFF;
}
.title button {
    font-size: 16px;
    font-weight: 700;
    color:#FFFFFF;
    background-color: #2196F3;
}
.lorem h2 {
    display: none;
}
.lorem ul {
    display: flex;
    text-align: left;
    gap:20px
}
.imagin {
    text-align: center;
}
.imagin ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.teamlist {
    background-color: #F5F4FA;
}
.teamlist ul {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.teamlist li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.teamlist h2 {
    text-align: center;
}
.teamlist h3 {
    font-size: 16px;
}
.teamlist p {
    font-size: 16px;
}

/* PORTFOLIO */
.bsection ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bsection button {
    font-weight: 500;
}
.bsection button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.wrap {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
}
.wrap li {
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
}
.wrap img {
    background-color: #eeeeee;
}
.wrap h3 {
    margin-left: 30px;
}
.wrap p {
    margin-left: 30px;
}

